<div class="container bg-primary text-white">

<h1 >Welcome to the Hospital Management Portal</h1>

<!-- <p>{{post|json}}</p> -->
</div>
<div class="container bg-warning text-white">
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Doctor Name</th>
            <th>Doctor Specialization</th>
            <th>Experience</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of post">
            <td>{{i.doctorId}}</td>
            <td><input type="text" [(ngModel)]="i.doctorName"></td>
            <td><input type="text" [(ngModel)]="i.specialization"></td>
            <td><input type="number" [(ngModel)]="i.yearsOfExperience"></td>
            <td><button type="submit" (click)="updateDoctor(i.doctorId, i.doctorName, i.specialization, i.yearsOfExperience)">Update</button></td> <!-- event binding -->
            <td><button type="submit" (click)="deleteDoctor(i.doctorId)">Delete</button></td>
        </tr>

        <tr>
            <td>id</td>
            <td><input [(ngModel)]="model2.doctorName"  type="text"/></td>
            <td><input [(ngModel)]="model2.specialization" type="text"/></td>
            <td><input [(ngModel)]="model2.yearsOfExperience" type="number" min="0"/></td>
            <td><button type="submit" (click)="addDoctor()" >Add</button></td>
        </tr>

    </tbody>
</table>
</div>